/* ------------------------------------------
   PULSE ICON SYSTEM
   Centralized SVG icon utilities for TechWayFit Pulse
   ------------------------------------------ */

/* Base icon class (ics = icon-svg) */
.ics, .icon-svg {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    vertical-align: middle;
}

/* Icon sizes (ic = icon) */
.ic-xs, .icon-xs { width: 16px; height: 16px; }
.ic-sm, .icon-sm { width: 20px; height: 20px; }
.ic-md, .icon-md { width: 32px; height: 32px; }
.ic-lg, .icon-lg { width: 48px; height: 48px; }
.ic-xl, .icon-xl { width: 64px; height: 64px; }
.ic-2xl, .icon-2xl { width: 80px; height: 80px; }

/* Icon spacing helpers */
.ic-mr, .icon-mr { margin-right: 0.5rem; }
.ic-ml, .icon-ml { margin-left: 0.5rem; }

/* Individual SVG icon classes (87 icons) */
.ics-alarm { background-image: url('/images/icons/alarm.svg'); }
.ics-bar-chart { background-image: url('/images/icons/bar-chart.svg'); }
.ics-bolt { background-image: url('/images/icons/bolt.svg'); }
.ics-bomb { background-image: url('/images/icons/bomb.svg'); }
.ics-book-open { background-image: url('/images/icons/book-open.svg'); }
.ics-bookmark-tabs { background-image: url('/images/icons/bookmark-tabs.svg'); }
.ics-books { background-image: url('/images/icons/books.svg'); }
.ics-bust { background-image: url('/images/icons/bust.svg'); }
.ics-busts { background-image: url('/images/icons/busts.svg'); }
.ics-calendar { background-image: url('/images/icons/calendar.svg'); }
.ics-calendar-tear-off { background-image: url('/images/icons/calendar-tear-off.svg'); }
.ics-chart { background-image: url('/images/icons/chart.svg'); }
.ics-chart-decreasing { background-image: url('/images/icons/chart-decreasing.svg'); }
.ics-chart-increasing { background-image: url('/images/icons/chart-increasing.svg'); }
.ics-chat { background-image: url('/images/icons/chat.svg'); }
.ics-check-mark { background-image: url('/images/icons/check-mark.svg'); }
.ics-clipboard { background-image: url('/images/icons/clipboard.svg'); }
.ics-collision { background-image: url('/images/icons/collision.svg'); }
.ics-confetti { background-image: url('/images/icons/confetti.svg'); }
.ics-confused { background-image: url('/images/icons/confused.svg'); }
.ics-cross-mark { background-image: url('/images/icons/cross-mark.svg'); }
.ics-document { background-image: url('/images/icons/document.svg'); }
.ics-down-arrow { background-image: url('/images/icons/down-arrow.svg'); }
.ics-email { background-image: url('/images/icons/email.svg'); }
.ics-exclamation { background-image: url('/images/icons/exclamation.svg'); }
.ics-family { background-image: url('/images/icons/family.svg'); }
.ics-fire { background-image: url('/images/icons/fire.svg'); }
.ics-folder { background-image: url('/images/icons/folder.svg'); }
.ics-folder-open { background-image: url('/images/icons/folder-open.svg'); }
.ics-globe { background-image: url('/images/icons/globe.svg'); }
.ics-grinning { background-image: url('/images/icons/grinning.svg'); }
.ics-grinning-big { background-image: url('/images/icons/grinning-big.svg'); }
.ics-handshake { background-image: url('/images/icons/handshake.svg'); }
.ics-heart { background-image: url('/images/icons/heart.svg'); }
.ics-hourglass { background-image: url('/images/icons/hourglass.svg'); }
.ics-house { background-image: url('/images/icons/house.svg'); }
.ics-hundred { background-image: url('/images/icons/hundred.svg'); }
.ics-info { background-image: url('/images/icons/info.svg'); }
.ics-key { background-image: url('/images/icons/key.svg'); }
.ics-laptop { background-image: url('/images/icons/laptop.svg'); }
.ics-left-arrow { background-image: url('/images/icons/left-arrow.svg'); }
.ics-lightbulb { background-image: url('/images/icons/lightbulb.svg'); }
.ics-lightning { background-image: url('/images/icons/lightning.svg'); }
.ics-location { background-image: url('/images/icons/location.svg'); }
.ics-locked { background-image: url('/images/icons/locked.svg'); }
.ics-medal { background-image: url('/images/icons/medal.svg'); }
.ics-medal-sports { background-image: url('/images/icons/medal-sports.svg'); }
.ics-memo { background-image: url('/images/icons/memo.svg'); }
.ics-minus { background-image: url('/images/icons/minus.svg'); }
.ics-mobile { background-image: url('/images/icons/mobile.svg'); }
.ics-office { background-image: url('/images/icons/office.svg'); }
.ics-ok-hand { background-image: url('/images/icons/ok-hand.svg'); }
.ics-party { background-image: url('/images/icons/party.svg'); }
.ics-pen { background-image: url('/images/icons/pen.svg'); }
.ics-pencil { background-image: url('/images/icons/pencil.svg'); }
.ics-people { background-image: url('/images/icons/people.svg'); }
.ics-pin { background-image: url('/images/icons/pin.svg'); }
.ics-plus { background-image: url('/images/icons/plus.svg'); }
.ics-pushpin { background-image: url('/images/icons/pushpin.svg'); }
.ics-question { background-image: url('/images/icons/question.svg'); }
.ics-raised-hand { background-image: url('/images/icons/raised-hand.svg'); }
.ics-right-arrow { background-image: url('/images/icons/right-arrow.svg'); }
.ics-robot { background-image: url('/images/icons/robot.svg'); }
.ics-rocket { background-image: url('/images/icons/rocket.svg'); }
.ics-sad { background-image: url('/images/icons/sad.svg'); }
.ics-save { background-image: url('/images/icons/save.svg'); }
.ics-school { background-image: url('/images/icons/school.svg'); }
.ics-search { background-image: url('/images/icons/search.svg'); }
.ics-settings { background-image: url('/images/icons/settings.svg'); }
.ics-smile { background-image: url('/images/icons/smile.svg'); }
.ics-smiling { background-image: url('/images/icons/smiling.svg'); }
.ics-speech-balloon { background-image: url('/images/icons/speech-balloon.svg'); }
.ics-star { background-image: url('/images/icons/star.svg'); }
.ics-stopwatch { background-image: url('/images/icons/stopwatch.svg'); }
.ics-target { background-image: url('/images/icons/target.svg'); }
.ics-thinking { background-image: url('/images/icons/thinking.svg'); }
.ics-thought-balloon { background-image: url('/images/icons/thought-balloon.svg'); }
.ics-thumbs-down { background-image: url('/images/icons/thumbs-down.svg'); }
.ics-thumbs-up { background-image: url('/images/icons/thumbs-up.svg'); }
.ics-trash { background-image: url('/images/icons/trash.svg'); }
.ics-trophy { background-image: url('/images/icons/trophy.svg'); }
.ics-unlocked { background-image: url('/images/icons/unlocked.svg'); }
.ics-up-arrow { background-image: url('/images/icons/up-arrow.svg'); }
.ics-warning { background-image: url('/images/icons/warning.svg'); }
.ics-waving-hand { background-image: url('/images/icons/waving-hand.svg'); }
.ics-wrench { background-image: url('/images/icons/wrench.svg'); }
.ics-zzz { background-image: url('/images/icons/zzz.svg'); }
